@using AmazingShop.Utility
@model Order


<form method="post">
    <input asp-for="Header.Id" hidden />
    <br />
    <div class="backgroundWhite container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0 row container">
                <div class="col-12 d-none d-md-block col-md-6 pb-1">
                    <i class="fas fa-shopping-cart"></i> &nbsp; Podsumowanie Zamówienia
                </div>
                <div class="col-12 col-md-4 offset-md-2 text-right">
                    <a onclick="history.back()" class="btn btn-outline-info form-control btn-sm">Wróć</a>
                </div>
            </div>
            <div class="card-body pb-0">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Szczegóły Zamówienia:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Adresat</div>
                                <div class="col-9">

                                    <input asp-for="Header.FullName" type="text" class="form-control" readonly="@(!ViewBag.IsAdmin)" />
                                    <span asp-validation-for="Header.FullName" class="text-danger"></span>


                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Telefon</div>
                                <div class="col-9">

                                    <input asp-for="Header.PhoneNumber" type="text" class="form-control" readonly="@(!ViewBag.IsAdmin)" />
                                    <span asp-validation-for="Header.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Adres</div>
                                <div class="col-5">
                                    <input asp-for="Header.Street" type="text" class="form-control" readonly="@(!ViewBag.IsAdmin)" />
                                </div>
                                <div class="col-2">
                                    <input asp-for="Header.BuildingNumber" type="text" class="form-control" readonly="@(!ViewBag.IsAdmin)" />
                                </div>
                                <div class="col-2">
                                    <input asp-for="Header.LocalNumber" type="text" class="form-control" readonly="@(!ViewBag.IsAdmin)" />
                                </div>
                            </div>
                            <div class="row">
                                <span asp-validation-for="Header.Street" class="text-danger"></span>
                                <span asp-validation-for="Header.BuildingNumber" class="text-danger"></span>
                                <span asp-validation-for="Header.LocalNumber" class="text-danger"></span>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Miasto i Kod Pocztowy</div>
                                <div class="col-5">
                                    <input asp-for="Header.City" type="text" class="form-control" readonly="@(!ViewBag.IsAdmin)" />
                                </div>
                                <div class="col-4">
                                    <input asp-for="Header.ZipPostalCode" type="text" class="form-control" readonly="@(!ViewBag.IsAdmin)" />
                                </div>
                            </div>
                            <div class="row">
                                <span asp-validation-for="Header.City" class="text-danger"></span>
                                <span asp-validation-for="Header.ZipPostalCode" class="text-danger"></span>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Kraj</div>
                                <div class="col-9">
                                    <input asp-for="Header.Country" type="text" class="form-control" readonly="@(!ViewBag.IsAdmin)" />
                                    <span asp-validation-for="Header.Country" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">

                            </div>
                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">

                                    <input asp-for="Header.Email" type="text" class="form-control" readonly="@(!ViewBag.IsAdmin)" />
                                    <span asp-validation-for="Header.Email" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Data Złożenia</div>
                                <div class="col-9">

                                    <input value="@Model.Header.OrderDate.ToShortDateString()" type="text" class="form-control" readonly />

                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Data Wysłania</div>
                                <div class="col-9">
                                    <input value="@Model.Header.ShippingDate.ToShortDateString()" id="shippingDate" type="text" readonly class="form-control" />
                                </div>
                            </div>


                            <div class="row my-1">
                                <div class="col-3">Status Zamówienia</div>
                                <div class="col-9">
                                    <input asp-for="Header.OrderStatus" readonly hidden />
                                    <input class="form-control" readonly value="@(((OrderStatuses)Model.Header.OrderStatus).GetDisplayName())" type="text" />
                                </div>
                            </div>
                            @if (ViewBag.IsAdmin)
                            {
                                <div class="row my-1">
                                    <div class="col-9 offset-3">
                                        <input type="submit" value="Zapisz Zmiany" class="btn btn-warning form-control"
                                               asp-action="UpdateOrderDetails" formmethod="post" />
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-info">Zamówione Produkty</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @foreach (var product in Model.Products)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            @if (product is null)
                                            {
                                                <div class="col-8">
                                                    <h6 class="my-0 text-info">Deleted Product</h6>
                                                    <small class="text-muted">Cena : @product.Price</small><br />
                                                    <small class="text-muted">Ilość : @product.Quantity</small>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-8">
                                                    <h6 class="my-0 text-info">@product.Product.Name</h6>
                                                    <small class="text-muted">Cena : @product.Price zł</small><br />
                                                    <small class="text-muted">Ilość : @product.Quantity</small>
                                                </div>
                                            }
                                            <div class="col-4">
                                                <p class="text-success">@product.TotalPrice zł</p>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="list-group-item bg-info">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">RAZEM </h5>
                                        </div>
                                        <div class="col-6 text-right">
                                            <h5 class="text-white">@(Model.Header.FinalOrderTotal) zł</h5>
                                        </div>
                                    </div>
                                </li>

                            </ul>


                            <br />
                            @if (ViewBag.IsAdmin)
                            {

                                @if (Model.Header.OrderStatus == (int)OrderStatuses.Created)
                                {
                                    <input type="submit" value="Zacznij Procesować Zamówienie"
                                           formmethod="post" asp-action="StartProcessing"
                                           class="btn btn-info form-control" />}
                                @if (Model.Header.OrderStatus == (int)OrderStatuses.Shipped)
                                {
                                    <input type="submit" value="Wyślij Zamówienie"
                                           formmethod="post" asp-action="ShipOrder"
                                           class="btn btn-primary form-control" />}
                                @if (Model.Header.OrderStatus != (int)OrderStatuses.Shipped && Model.Header.OrderStatus != (int)OrderStatuses.Canceled)
                                {
                                    <div class="pt-2">
                                        <button type="submit"
                                                class="btn btn-danger form-control"
                                                asp-action="CancelOrder"
                                                formmethod="post">
                                            Anuluj Zamówienie
                                        </button>
                                    </div>}
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            var shippingDate = document.getElementById("shippingDate");
            if (shippingDate.value == '1/1/0001') {
                shippingDate.value = "";
            }
        })</script>

}
