@using AmazingShop.Utility
@using AmazingShop.Models.ViewModels
@model OrderListVM

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Zamówienia</h2>
        </div>
        <div class="col-6 text-right">
        </div>
    </div>
    <br /><br />
    @if (Model.IsAdmin)
    {
        <form method="get">
            <div class="container p-4 my-3">
                <div class="border bg-white p-3" style="border-radius:15px;">
                    <div class="row">
                        <div class="col-12">
                            <div class="row" style="padding-top:10px">
                                @Html.Hidden("admin", Model.IsAdmin)
                                <div class="col-4">
                                    @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Zamawiający..." } })
                                </div>
                                <div class="col-4">
                                    @Html.Editor("searchEmail", new { htmlAttributes = new { @class = "form-control", @placeholder = "Email..." } })
                                </div>
                                <div class="col-4">
                                    @Html.Editor("searchPhone", new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefon..." } })
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-4">
                                    @Html.DropDownListFor(u => u.Status, Model.Statuses, "--Status Zamówienia--", new { @class = "form-select" })
                                </div>
                                <div class="offset-4 col-4">
                                    <button type="submit" class="h-100 btn btn-info form-control">
                                        <i class="fas fa-search"></i>Wyszukaj
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
                        <hr />
                    }
    @if (Model.Orders.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Numer
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Zamawiający
                    </th>
                    <th>
                        Suma
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Orders)
                {
                    <tr>
                        <td width="10%">@order.Id</td>
                        <td width="20%">@(((OrderStatuses)order.OrderStatus).GetDisplayName())</td>
                        <td width="30%">@order.FullName</td>
                        <td width="20%">@order.FinalOrderTotal zł</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-action="Details" asp-route-Id="@order.Id" class="btn btn-primary mx-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Brak Zamówień do wyświetlenia</p>
    }
</div>